#Main_Container_Registry {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 85%;
  min-height: 85%;
  max-height: 85%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-top: 2.5%;
  background-color: black;
}

#Registry_Container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#Registry_Form {
  width: 40%;
  height: 50%;
  background-color: #fff;
  border-radius: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  overflow: hidden;
  overflow-y: auto;
}

#Registry_Title {
  font-size: 1.5rem;
  margin: 0;
  padding: 0.5% 2%;
  width: fit-content;
  font-weight: 900;
  color: black;
}

.input_registry{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 2%;
  margin: 2%;
}

#input_field_name {
  display: inline-block;
}

#input_field_family_name {
}

#input_field_Email {
}

#input_field_password {
}

#input_field_confirm_password {
}
