#Wish-list {
  cursor: pointer;
  width: 2vmax;
  height: fit-content;
  display: flex;
  margin: 0;
  padding: 0;
  margin-right: 2vmax;
}

#WishListDIV {
  width: 350px;
  height: 100vh;
  z-index: 999;
  background-color: black;
  position: fixed;
  top: 0;
  color: #fff;
}

#WishListHeaderDIV {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  border: 2px solid #c1c1c1;
  width: 100%;
}

#WishListContent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 91%;
  width: 100%;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}
