body,
html,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 185vmax;
  overflow-x: hidden;
  background: rgb(255, 255, 255);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  scrollbar-width: auto;
  scrollbar-color: rgb(72, 230, 235) black;
  background: linear-gradient(
    100deg,
    rgba(255, 255, 255, 0.742) 20%,
    black 80%
  );
}

#FirstDiv {
  width: 100%;
  margin-bottom: 1vmax;
  height: 4vmax;
}
/* Navbar*/
#navbarDIV {
  position: relative;
  left: 10%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 90%;
  top: 2vmax;
  height: fit-content;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#navbar {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.navbarLI {
  display: flex;
  margin: 0 1vmax;
  padding: 0;
  list-style-type: none;
  color: black;
  font-size: 1.5vmax;
}

#LILogin,
#LIWarenkorb,
#LIWunschliste {
  display: inline-block;
  margin-right: 1vmax;
  cursor: pointer;
}

#b端rgermen端DIV {
  min-width: 2vmax;
  max-width: 2vmax;
  position: absolute;
  top: 2vmax;
  left: 1%;
  display: flex;
  justify-content: left;
  height: auto;
  padding: 0;
  margin: 0;
}

#b端rgermen端 {
  cursor: pointer;
  width: 100%;
  height: auto;
}

/* Hintergrund-FOTO */
#backgroundDIV {
  position: relative;
  top: 0.5%;
  width: 100%;
  height: fit-content;
  margin-bottom: 4vmax;
  margin-top: 1vmax;
}

#background-pic {
  width: 100%;
  height: 18vw;
  object-fit: cover;
}

/* Damen und Herren DIV unter dem BILD*/
#DamenHerrenDIV {
  position: relative;
  width: 100%;
  min-width: 100%;
  height: auto;
  top: 4vmax;
  text-align: center;
  margin: 0;
  padding: 0;
}

#WonachDIV {
  position: relative;
  padding: 0;
  margin: 0;
}

#Wonach {
  padding: 0;
  margin: 0;
  color: black;
  font-size: 2vmax;
  display: block;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

#DamenBtn {
  margin: 0;
  padding: 0;
  width: 16vmax;
  height: fit-content;
  font-size: 1.7vmax;
  border: solid;
  background-color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  cursor: pointer;
  margin-right: 3%;
}

#HerrenBtn {
  margin: 0;
  padding: 0;
  width: 16vmax;
  height: fit-content;
  font-size: 1.7vmax;
  border: solid;
  background-color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  cursor: pointer;
  margin-left: 3%;
  margin-top: 3vh;
}

/* LogoRotate */
#LogoDIV {
  position: relative;
  width: 100%;
  height: fit-content;
  margin: 0;
  top: 10vmax;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vmax;
}

#LogoRotate {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vmax;
  width: 10vmax;
  border: 1vmin solid black;
  border-radius: 100%;
  animation: Rotate infinite;
  animation-timing-function: linear;
  animation-duration: 1s;
  transform: rotate(0deg);
  margin: 0;
}

/* Secret */
#Secret {
  font-size: 6vmin;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 10vmax;
}

@keyframes Rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(190deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* 8 Images */
#AllImagesDiv {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  top: 16vmax;
  padding: 0;
  height: auto;
}

#ImageDIV1,
#ImageDIV2,
#ImageDIV3,
#ImageDIV4,
#ImageDIV5,
#ImageDIV6 {
  min-width: 8vmax;
  max-width: 18vmax;
  max-height: 15vmax;
  margin: 3.3vmax;
}

.img {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border-radius: 1vmax;
}

/* button unter den 8 Bildern */
.Schuhe {
  position: relative;
  left: -3%;
  cursor: pointer;
  color: black;
  letter-spacing: 0.5vmax;
  font-weight: bold;
  outline: 0.5vmax solid black;
  width: auto;
  height: auto;
  display: block;
  font-size: 1vmax;
  margin: 0.8vmax;
}

.Schuh1DIV {
  width: fit-content;
}

button:hover {
  background: linear-gradient(
    90deg,
    rgb(31, 112, 170) 10%,
    rgb(130, 18, 199) 70%
  );
  transform: scale(1.1);
  outline: 2px solid #70bdca;
  color: #fff;
  box-shadow: 0px 2px 15px 4px #268391;
  transition: 0.6s;
}

/* MARKEN bereich */

#DIVumGanzeSchuh {
  position: relative;
  top: 5%;
  left: 0%;
  width: 70%;
  height: 25vmax;
  margin: 0;
  padding: 0;
  margin-top: 10vh;
}

#markenDIV {
  background-color: #fbd9ac;
  width: 60%;
  height: 90%;
  padding: 0;
  margin: 0;
}

#markePic {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#textBtnMarke {
  position: relative;
  background: linear-gradient(
    40deg,
    rgb(89, 113, 144) 20%,
    rgb(47, 237, 177) 100%
  );
  top: -90%;
  left: 60%;
  width: 40%;
  height: 90%;
}

#textMarke {
  position: relative;
  width: 100%;
  top: 30%;
  transform: translate(0%, -20%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4vmax;
  padding: 0;
  margin: 0;
}

#buttonMarke {
  position: absolute;
  margin-top: 10%;
  min-width: 60%;
  min-height: 3.5vmax;
  max-height: 4vmax;
  top: 50%;
  left: 5%;
  transform: translate(-50%, -50%);
  font-size: 1.3vmax;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  cursor: pointer;
  border: non;
}


@media (max-width: 465px) {
  #AllImagesDiv {
    top: 5%;
  }
  #DIVumGanzeSchuh {
    height: auto;
    width: 85%;
    margin-top: 6vmax;
  }

  #ImageDIV1,
  #ImageDIV2,
  #ImageDIV3,
  #ImageDIV4,
  #ImageDIV5,
  #ImageDIV6 {
    height: 9vmax;
    width: 18vmax;
    margin: 2.1vmax;
  }

  #DamenHerrenDIV {
    top: 1%;
  }

  #LogoDIV {
    top: 2.5%;
  }
}

@media (max-width: 320px) {
  #textMarke {
    font-size: 10px;
  }

  #buttonMarke {
    top: 55%;
    width: 70%;
    min-height: 2.8vmax;
    font-size: 10px;
  }
}

@media (max-width: 250px) {
  #textMarke {
    font-size: 8px;
  }

  #buttonMarke {
    top: 55%;
    width: 80%;
    min-height: 2vmax;
    font-size: 8px;
  }
}

@media (max-width: 191px) {
  #textMarke {
    font-size: 7px;
  }

  #buttonMarke {
    top: 55%;
    width: 80%;
    font-size: 7px;
  }
}

@media (max-width: 172px) {
  #textMarke {
    font-size: 7px;
  }

  #buttonMarke {
    top: 60%;
    width: 83.482%;
    font-size: 6px;
  }
}

/* Marken Nike usw */
#BrandsDIV {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  top: 8vmax;
  width: 100vmax;
  height: fit-content;
}

#Nike,
#Adidas,
#Jordan,
#Puma,
#Converse {
  object-fit: cover;
  width: 12vw;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-name: arrows_animation;
  transform: translateX(-90vw);
}

#Nike {
  display: flex;
  align-self: self-end;
  height: fit-content;
}

#Adidas {
  height: fit-content;
  display: flex;
  align-self: self-end;
}

#Jordan {
  display: flex;
  align-self: self-end;
  height: fit-content;
}

#Puma {
  display: flex;
  height: fit-content;
  position: relative;
  top: 2.5vw;
}

#Converse {
  display: flex;
  align-self: self-end;
  height: fit-content;
}

@keyframes arrows_animation {
  0% {
    animation-timing-function: linear;
  }
  10% {
    animation-timing-function: linear;
  }
  90% {
    animation-timing-function: linear;
  }
  100% {
    transform: translateX(100vw);
  }
}
