#Main_Container_Registry {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 88%;
  min-height: 88%;
  max-height: 88%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-top: 2vmax;
  background-color: black;
}

#Registry_Container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  height: 95%;
  min-height: 95%;
  max-height: 95%;
}

#Registry_Form {
  display: flex;
  flex-direction: column;
  width: 40%;
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  overflow-y: auto;
  height: 90%;
  min-height: 90%;
  max-height: 90%;
  margin: 0;
  padding: 0;
  margin-top: 1vmax;
}

#Registry_Title {
  font-size: 1.2rem;
  margin: 0;
  margin-left: 2%;
  margin-top: 2%;
  padding: 1%;
  width: fit-content;
  color: rgb(44, 121, 209);
}

.input_registry {
  padding: 2%;
  margin: 2.3%;
  border-radius: 30px;
  width: 90%;
  min-width: 90%;
  max-width: 90%;
}

#Submit_Btn {
  display: block;
  width: 96%;
  padding: 2%;
  margin: 0;
  margin-left: 2%;
  margin-bottom: 1%;
  margin-top: 2%;
  font-size: 1rem;
  border-radius: 30px;
  cursor: pointer;
  background-color: black;
  color: #fff;
}

#Submit_Btn:hover {
  width: 88%;
  margin-left: 6%;
  border: none;
}

#error_message {
  margin: 0;
  padding: 0;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 3%;
  color: red;
}

#Navigate_To_Login {
  display: block;
  margin: 0;
  margin-left: 3%;
  margin-bottom: 2%;
  font-size: 1rem;
}

#password_container {
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}

#eye_show_password {
  width: 30px;
  height: 25px;
  background-color: #fff;
  border-radius: 100%;
  border: 3px solid black;
  z-index: 999;
  margin: 0;
}

#password_container {
  position: relative;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

#eye_show_password {
  position: absolute;
  top: 50%;
  right: 4%;
  background-color: #fff;
  border: 3px solid black;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1;
  border-radius: 100%;
  height: 1.8vmax;
  width: 2.5vmax;
  min-width: 2.5vmax;
  max-width: 2.5vmax;
  display: flex;
  align-items: center;
  justify-content: center;
}

#inner_eye {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.3vmax;
  margin: 0;
  padding: 0;
}
