#Footer {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 50%;
  margin-left: 25%;
  color: green;
  position: absolute;
  top: 90%;
}

.Footer_Elements {
  list-style-type: none;
  font-size: 2vmax;
  cursor: pointer;
}

.Footer_Elements:link {
  color: inherit;
  text-decoration: none;
}

.Footer_Elements:visited {
  color: inherit;
}

.Footer_Elements:hover {
  color: greenyellow;
  text-decoration: none;
}