#Footer {
  display: inline-flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  width: 100%;
  color: black;
  margin-top: 2%;
  margin-bottom: 1%;
}

.Footer_Elements {
  list-style-type: none;
  font-size: 1.8vmax;
  cursor: pointer;
  margin: 0;
  padding: 0;
  font-weight: bolder;
}

.Footer_Elements:link {
  color: red;
  text-decoration: none;
}

.Footer_Elements:hover {
  color: rgb(54, 222, 16);
  text-decoration: none;
}

.Footer_Elements:active {
  color: rgb(0, 218, 238);
}
