#Footer {
  display: inline-flex;
  justify-content: center;
  width: 100%;
  height: fit-content;
  position: relative;
  margin: 0;
  position: relative;
  top: 17vmax;
  transform: translate(-0%,-0%);
}

.Footer_Elements {
  height: 100%;
  margin-right: 5%;
  list-style-type: none;
  font-size: 1.6vmax;
}


.Footer_Elements:link{
  color: inherit;
  text-decoration: none;
}

.Footer_Elements:visited{
  color: inherit;
}

.Footer_Elements:hover{
  color: greenyellow;
  text-decoration: none;
}


@media(max-width: 770px) {
  #Footer{
  margin-top: 14vmax;
  }
}

@media(max-width: 680px) {
  #Footer{
  margin-top: 23vmax;
  }
}


@media(max-width: 465px) {
  #Footer{
  margin-top: 16vmax;
  }
}


@media(max-width: 376px) {

  #root{
    min-height: 160vmax;
  }
  #Footer{
  margin-top: 15vmax;
  }
}


@media(max-width: 365px) {
  #Footer{
  margin-top: 23vmax;
  }
}

@media(max-width: 321px) {
  #root{
    min-height: 220vmax;
  }

  #Footer{
  margin-top: 12.5vmax;
  }
}

@media (max-width: 243px) {

  .Footer_Elements{
    margin-top: 0;
    font-size: 80%;
    }
}

/* --------------- */

@media (max-height : 395px) {
  
  #Footer{
    margin-top: 21vmax;
    }
}