:root {
  --height: 100vh;
  --height-fit-content: fit-content;
  --margin-right: 2vmax;
  --width: 100%;
  --margin: 0;
  --padding: 0;
  --cursor-pointer: pointer;
  --display--flex: flex;
  --color: #fff;
  --align-items: center;
  --justify-content: center;
  --font-size: 1rem;
}

html,
body,
#root {
  scrollbar-width: auto;
  scrollbar-color: rgb(72, 230, 235) black;
  margin: var(--margin);
  padding: var(--padding);
  width: var(--width);
  height: var(--height);
  min-height: var(--height);
  max-height: var(--height);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #fff;
}
/* ----------------------------- */

#Wish-list {
  cursor: var(--cursor-pointer);
  width: 25px;
  height: var(--height-fit-content);
  display: var(--display--flex);
  margin: var(--margin);
  padding: var(--padding);
  margin-right: var(--margin-right);
}

#WishListDIV {
  width: 300px;
  height: var(--height);
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(17px);
  position: fixed;
  top: 0;
}

#WishListHeaderDIV {
  display: var(--display--flex);
  align-items: var(--align-items);
  justify-content: space-between;
  padding: var(--padding);
  border-bottom: 1px solid #000;
  font-size: 0.6rem;
}

#WishListCloseButton {
  width: fit-content;
  font-size: 1.3rem;
  transform: rotate(90deg);
  margin-right: 10px;
  cursor: pointer;
}

#WishListContent {
  display: var(--display--flex);
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 90%;
  font-size: 1rem;
  margin: 0;
}
/* --------------------------- */

#Shopping-cart {
  width: 30px;
  display: var(--display--flex);
  margin-right: var(--margin-right);
  cursor: var(--cursor-pointer);
}

#shoppingCartMenu {
  width: 300px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(17px);
  position: fixed;
  top: 0px;
  z-index: 999;
  color: #000;
}

#shoppingCartMenuDIV {
  display: var(--display--flex);
  align-items: var(--align-items);
  justify-content: space-between;
  font-size: 0.7rem;
  border-bottom: 1px solid #000;
}

#shoppingCartMenuX {
  cursor: var(--cursor-pointer);
  margin-right: var(--margin-right);
  font-size: 1.3rem;
  transform: rotate(90deg);
}

#shoppingCartMenuInnerDiv {
  display: var(--display--flex);
  align-items: var(--align-items);
  justify-content: var(--justify-content);
  flex-direction: column;
  text-align: center;
  width: var(--width);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* ----------------------------------- */

#Main_Container_Registry {
  display: var(--display--flex);
  justify-content: var(--justify-content);
  align-items: var(--align-items);
  height: 768.8px;
  font-size: 0.9rem;
}

#Registry_Container {
  height: auto;
  width: 28vmax;
  padding: 2rem;
  box-shadow: 0px 0px 10px 5px rgb(209, 209, 209);
}

#Registry_Title {
  background-color: #007bff;
  color: #fff;
  font-size: 1rem;
  border-radius: 4px;
  padding: 10px;
  text-align: center;
}

.input_registry {
  padding: 8px;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: var(--font-size);
  width: var(--width);
  box-sizing: border-box;
  font-size: 0.8rem;
}

#Submit_Btn {
  padding: 10px;
  background-color: #007bff;
  color: var(--color);
  font-size: var(--font-size);
  border: none;
  border-radius: 4px;
  cursor: var(--cursor-pointer);
  transition: background-color 0.3s ease;
  width: var(--width);
}

#Submit_Btn:hover {
  background-color: #0056b3;
}

#error_message {
  color: red;
}

/* --------------------- */

/* Navbar*/
#navbarDIV {
  margin-bottom: 5px;
  position: relative;
  top: 0.5vmax;
  height: fit-content;
}

#navbar {
  display: var(--display--flex);
  justify-content: flex-end;
  height: fit-content;
}

/* -------------------------- */

#Main_Container_Login {
  height: 770px;
  display: var(--display--flex);
  justify-content: var(--justify-content);
  align-items: var(--align-items);
}

#Login_Container {
  padding: 2rem;
  height: 400px;
  width: 28vmax;
  box-shadow: 0px 0px 10px 5px rgb(209, 209, 209);
}

#Login_Form {
  flex-direction: column;
  display: var(--display--flex);
  align-items: var(--align-items);
  justify-content: var(--justify-content);
  height: 100%;
  gap: 20px;
}

/* Titel und Beschreibung */
#Login_Title {
  background-color: #007bff;
  color: #fff;
  font-size: 1rem;
  border-radius: 4px;
  width: 100%;
  text-align: center;
  padding: 10px;
}

#User_Login,
#Password_Login {
  width: var(--width);
  font-size: var(--font-size);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Login-Button */
#LoginBtn {
  width: 100%;
  font-size: var(--font-size);
  padding: 12px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: var(--cursor-pointer);
  transition: background-color 1s;
}

#LoginBtn:hover {
  background-color: #0056b3;
}

/* Backend-Nachricht */
#Error_Message_Backend {
  font-size: var(--font-size);
  color: red;
  margin: var(--margin);
}

#user_icon {
  cursor: var(--cursor-pointer);
  width: 28px;
  height: var(--height-fit-content);
  display: var(--display--flex);
  margin-right: var(--margin-right);
}

/* -------------------------- */

#Footer {
  display: flex;
  justify-content: space-evenly;
  width: var(--width);
  list-style-type: none;
  position: absolute;
  top: 840px;
}

.Footer_Elements {
  cursor: var(--cursor-pointer);
}
/* -------------------------------------- */

#burgermenuDIV {
  position: absolute;
  left: 0%;
}

#burgermenu {
  width: 25px;
  cursor: var(--cursor-pointer);
  margin-left: 10px;
}

/* ---------------------------------- */

.menu_Container {
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  min-width: var(--width);
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0%;
  transition: min-width 1s linear;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-name: ClosingMenuContainer;
  overflow-y: auto;
}

@keyframes ClosingMenuContainer {
  0% {
    min-width: 0%;
  }
  100% {
    min-width: var(--width);
  }
}

@keyframes ClosingMenuContainerReverse {
  0% {
    min-width: var(--width);
  }
  100% {
    min-width: 0%;
  }
}

#menu_Closing {
  color: white;
  width: fit-content;
}

#menu_content {
  width: fit-content;
  font-size: 1.5rem;
  margin-top: 1px;
  margin-left: 10px;
  cursor: var(--cursor-pointer);
  transform: rotate(90deg);
}

#menu_Links {
  display: var(--display--flex);
  justify-content: var(--justify-content);
  align-items: var(--align-items);
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.8rem;
}

.Menu_Links_For_Navigation {
  text-decoration: none;
  color: var(--color);
}

#Menu_Link_ShoppingCart {
  margin: var(--margin);
  padding: var(--padding);
  width: fit-content;
}

#Menu_Link_Wishlist {
  margin: var(--margin);
  padding: var(--padding);
  width: fit-content;
}

#animated-I {
  color: color-mix(in srgb, rgb(0, 251, 255) 50%, rgb(64, 255, 0) 10%);
  position: relative;
  left: 0%;
  top: 0;
  pointer-events: none;
}

.Menu_Links_For_Navigation:hover span {
  animation-name: slideForward;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes slideForward {
  0% {
    left: 0%;
  }
  50% {
    left: 105%;
  }

  0% {
    left: 0%;
  }
}
/* ------------------------------ */

.profile-container {
  max-width: 100%;
  width: 100%;
  min-width: 100%;
  margin: 50px auto;
  text-align: center;
}

/* Tabs-Styling */
.profile-tabs {
  display: var(--display--flex);
  justify-content: space-around;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

.tab {
  padding: 10px 20px;
  border: none;
  background: none;
  font-size: 1rem;
  cursor: var(--cursor-pointer);
}

.tab:hover {
  background: greenyellow;
  border-bottom: 2px solid black;
  font-weight: bold;
}

.tab.active {
  border-bottom: 2px solid black;
  font-weight: bold;
}

/* Profil-Styling */
.profile-details {
  height: 650px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.profile-image {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.username {
  color: gray;
}

.profile-text {
  margin: 10px 0;
}

#signout {
  color: #007bff;
  text-decoration: none;
  cursor: var(--cursor-pointer);
  margin: 0;
  padding: 0;
}
/* ------------------------------ */
