* {
  font-weight: 100;
  margin: var(--margin);
  padding: var(--padding);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: var(---Light---Turquoise);
  background-color: #eee;
}

:root {
  /* ----------------Margin-and-Padding-------------------- */
  --padding: 0;
  --padding--10px: 10px;
  --margin: 0;
  --margin-right: 2vmax;
  --margin-bottom-15px: 15px;
  --margin-bottom-20px: 20px;

  /* ----------------Cursor-------------------- */
  --cursor-pointer: pointer;

  /* ----------------Fonts-------------------- */
  --font-size: 1rem;
  --font-size-1--5: 1.5rem;

  /* ----------------Height-and-Width-------------------- */
  --height: 100%;
  --height-fit-content: fit-content;
  --width: 100%;
  --width-fit-content: fit-content;
  --max-width: 425px;

  /* ----------------Display-Flex-------------------- */
  --display--flex: flex;
  --justify-content: center;
  --align-items: center;
  --flex-direction: column;
  --justify-content-flex-end: flex-end;
  --justify-content-flex-start: flex-start;

  /* ----------------Colors-------------------- */
  --color--white: #fff;
  --color-dark: #000;
  --lighter--blue: #007bff;
  --darker-blue: #0056b3;
  --ccc--grey: #ccc;
  ---Light---Turquoise: #22c7c2;

  /* ----------------Text-Decoration-------------------- */
  --text--decoration--none: none;

  /* ----------------Border-------------------- */
  --border--radius-4px: 4px;
  --border--none: none;
  --box--shadow: 0px 0px 10px 5px #ccc;

  /* ----------------Position-------------------- */
  --position--relative: relative;
}

html,
body,
#root {
  width: var(--width);
  height: var(--height);
}

/* -----------------HOME------------------------ */

#Home {
  min-height: 100%;
  width: 100%;
}

/* -----------------REGISTRY------------------------ */

#MainContainerRegistry {
  display: var(--display--flex);
  justify-content: var(--justify-content);
  align-items: var(--align-items);
  width: var(--width);
  height: 740px;
  max-height: 740px;
  min-height: 85.6%;
}

#RegistryContainer {
  padding: min(3rem, 1.9rem);
  box-shadow: var(--box--shadow);
  max-width: 400px;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 12px;
}

#RegistryContainer h1 {
  font-size: var(--font-size-1--5);
  text-align: center;
  margin-bottom: var(--margin-bottom-20px);
}

#RegistryContainer button {
  width: var(--width);
}

.InputRegistry {
  margin-bottom: var(--margin-bottom-15px);
  border: 1px solid var(--ccc--grey);
  width: 92%;
  padding: 15px;
}

.ShowPasswordContainer {
  display: var(--display--flex);
  height: 0px;
  width: var(--width);
  justify-content: flex-end;
}

.ShowPasswordIcon {
  position: var(--position--relative);
  top: -50px;
  margin-right: 10px;
  cursor: pointer;
  z-index: 1;
  width: var(--width-fit-content);
}

#RegistryErrorMessage {
  color: red;
}

#RegistrySuccessMessage {
  color: green;
}


@media (max-width: 485px) {

  .InputRegistry {
    width: 91.35%;
  }
}

@media (max-width: 454px) {

  .InputRegistry {
    width: 90.7%;
  }
}

@media (max-width: 429px) {

  .InputRegistry {
    width: 90.4%;
  }
}

@media (max-width: 401px) {

  .InputRegistry {
    width: 90%;
  }

  @media (max-width: 380px) {

    .InputRegistry {
      width: 89%;
    }
  }

  @media (max-width: 361px) {

    .InputRegistry {
      width: 88.6%;
    }
  }

  @media (max-width: 344px) {

    .InputRegistry {
      width: 87%;
    }
  }

  @media (max-width: 328px) {

    .InputRegistry {
      width: 86.5%;
    }
  }
}

/* --------------------------NAVBAR--------------------------- */

#navbarDIV {
  height: 7%;
  min-height: 53px;
  width: var(--width);
  border-bottom: 2px solid var(--color--white);
}

#navbar {
  display: var(--display--flex);
  align-items: var(--align-items);
  height: var(--height);
}

.NavbarElements {
  display: var(--display--flex);
  cursor: var(--cursor-pointer);
  margin-right: var(--margin-right);
  transform: scale(1.3);
}

/* ---------------------LOGIN---------------------------- */

#MainContainerLogin {
  display: var(--display--flex);
  justify-content: var(--justify-content);
  align-items: var(--align-items);
  flex-direction: var(--flex-direction);
  min-height: 85.6%;
  max-height: 740px;
  height: 740px;
}

#LoginContainer {
  display: var(--display--flex);
  align-items: var(--align-items);
  justify-content: var(--justify-content);
  box-shadow: var(--box--shadow);
  width: 92%;
  max-width: 450px;
  border-radius: 12px;
  margin-right: 20px;
  margin-left: 20px;
}

#LoginForm {
  flex-direction: var(--flex-direction);
  display: var(--display--flex);
  align-items: var(--align-items);
  justify-content: var(--justify-content);
  gap: 20px;
  height: 500px;
  width: var(--width);
}

#LoginHeader {
  font-size: var(--font-size-1--5);
}

#GithubGoogleIconContainer {
  width: 20px;
  margin-right: 20px;
}

.GithubGoogleIcon {
  width: var(--width-fit-content);
  height: 30px;
  background-color: var(--color-dark);
  border-radius: 50px;
  border: 3px solid var(--color-dark);
  position: absolute;
  display: var(--display--flex);
  align-items: var(--align-items);
  justify-content: var(--justify-content);
}

#GoogleIcon img {
  background-color: var(--color--white);
}

.LoginWithGithubOrGoogle {
  width: 85%;
  display: var(--display--flex);
  flex-direction: var(--flex-direction);
  gap: 15px;
}

.LoginWithGithubOrGoogle div {
  width: var(--width);
  display: var(--display--flex);
  align-items: var(--align-items);
}

.LoginWithGithubOrGoogle div>button {
  background-color: #ddd;
  border-radius: 8px;
  color: var(--color-dark);
}

.LoginWithGithubOrGoogle button:hover {
  background-color: var(--ccc--grey);
}

.BreakpointLogins {
  display: var(--display--flex);
  text-align: center;
  width: var(--width);
}

.OrDifferentLogin {
  width: var(--width);
  display: var(--display--flex);
  align-items: var(--align-items);
  justify-content: var(--justify-content);
  z-index: 1;
  padding-left: 24px;
  padding-right: 24px;
}

.OrDifferentLogin::before,
.OrDifferentLogin::after {
  content: "";
  flex-grow: 1;
  height: 1px;
  background-color: var(--ccc--grey);
  margin: 0 9px;
  box-sizing: inherit;
}

#UserLogin,
#PasswordLogin {
  width: 79%;
  padding: 12px;
  border: 1px solid var(--ccc--grey);
  border-radius: 8px;
  outline: none;
}

#BtnLogin {
  width: 85.5%;
  border-radius: 8px;
}

#BreakPoint {
  background-color: var(--ccc--grey);
  height: 2px;
  width: 95%;
  margin-top: 40px;
  border: var(--border--none);
}

.GoToRegisterDiv {
  width: var(--width);
  display: var(--display--flex);
  align-items: var(--align-items);
  justify-content: var(--justify-content);
  margin-top: 30px;
}

.GoToRegisterDiv a {
  padding: var(--padding--10px) 40px;
  border-radius: 50px;
  box-shadow: 0px 0px 20px 0px var(--ccc--grey);
  max-width: 360px;
  width: var(--width);
  text-align: center;
  margin-right: 20px;
  margin-left: 20px;
}

/* ---------------------SHOPPINGCART----------------------------- */

.ShoppingCardContainer {
  display: var(--display--flex);
  align-items: var(--align-items);
  justify-content: var(--justify-content);
  height: 800px;
  min-height: var(--height);
  width: var(--width);
}

.ShoppingCardContainerAroundContent {
  width: var(--width);
  height: 600px;
  margin-top: 20px;
  display: var(--display--flex);
  box-shadow: var(--box--shadow);
  border-radius: 20px;
}

.LeftContainerShoppingCart {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 70%;
  height: var(--height);
  background-color: var(--color--white);
}

.LeftContainerShoppingCartContent {
  padding: var(--padding--10px);
  display: var(--display--flex);
  align-items: var(--align-items);
  justify-content: space-between;
}

.LeftContainerShoppingCartContent>h2 {
  letter-spacing: 2px;
}

.RightContainerShoppingCartContent {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 30%;
  height: var(--height);
}

/* --------------------------PWDFORGOT----------------------------- */

#ContainerPwdForgot {
  display: var(--display--flex);
  align-items: var(--align-items);
  justify-content: var(--justify-content);
  flex-direction: var(--flex-direction);
  width: var(--width);
  height: 740px;
  max-height: 740px;
  min-height: 85.6%;
}

#forgotPwdForm {
  display: var(--display--flex);
  align-items: var(--align-items);
  justify-content: var(--justify-content);
  flex-direction: var(--flex-direction);
  box-shadow: var(--box--shadow);
  width: 93%;
  max-width: 450px;
  border-radius: 12px;
  max-height: 500px;
  height: var(--height);
}

#forgotPwdForm img {
  width: 100px;
  margin-bottom: var(--margin-bottom-20px);
  ;
}

.forgotPwdHeader {
  font-size: var(--font-size-1--5);
  margin-bottom: var(--margin-bottom-20px);
  ;
}

.ForgotPwdLink {
  text-decoration: var(--text--decoration--none);
}

#ContainerPwdForgot button {
  display: var(--display--flex);
  justify-content: var(--justify-content);
  width: 90%;
}

#BackToLoginContainerForgot {
  margin-top: 40px;
  background-color: inherit;
  width: var(--width);
  display: var(--display--flex);
  justify-content: var(--justify-content-flex-start);
}

#BackToLoginContainerForgot button {
  justify-content: var(--justify-content-flex-start);
  position: absolute;
  left: 0;
  width: var(--width-fit-content);
  margin-top: 60px;
}

#ForgotPwdBtnGoBack {
  position: var(--position--relative);
  width: var(--width-fit-content);
  border-radius: 0px;
}

.ContainerMessagePWDForgot {
  text-align: center;
  width: 90%;
}

#ContainerSuccessMessagePWDForgot {
  color: green;
}

#ContainerErrorMessagePWDForgot {
  color: red;
}

#LabelPWDForgot {
  text-align: left;
  font-size: 1.2rem;
  margin-bottom: var(--margin-bottom-15px);
  width: 90%;
}

#EmailPWDForgot {
  max-width: 90%;
  width: var(--width);
  padding: var(--padding--10px);
  font-size: 1.1rem;
  border: 1px solid var(--ccc--grey);
  border-radius: var(--border--radius-4px);
  margin-bottom: var(--margin-bottom-20px);
  box-sizing: border-box;
}

/* -----------------------------NavbarContentRightSide-------------------------------- */

#navbarContentRightSide {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

/* -----------------------------WISHLIST-------------------------------- */

#WishlistContainer {
  display: var(--display--flex);
  align-items: var(--align-items);
  justify-content: var(--justify-content);
  height: var(--height-fit-content);
  width: var(--width);
  min-height: var(--height);
}

#WishlistContainer p {
  font-size: 1.3rem;
  padding: 20px;
}

/* ---------------------SecretLogoNavbar------------------------ */

#SecretLogo {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#SecretLogo img {
  height: 48px;
  width: fit-content;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* ---------------------SecretAnimation------------------------ */

#SecretAnimation>div {
  min-width: 100%;
  height: 100%;
}

#SecretAnimation>div {
  width: 100%;
  height: 45vmax;
}

#SecretAnimation>div>video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* --------------------REGISTERPAGE-------------------------- */

#RegistryHeader {
  margin-bottom: var(--margin-bottom-15px);
}

#RegistryContainerLink {
  display: var(--display--flex);
  justify-content: var(--justify-content);
  margin-top: 20px;
}

#RegistryLink {
  text-decoration: var(--text--decoration--none);
}

/* ------------------------FOOTER------------------------------ */

#Footer {
  display: var(--display--flex);
  justify-content: space-evenly;
  align-items: var(--align-items);
  border-top: 2px solid var(--color--white);
  height: 7%;
  min-height: 53px;
}

.FooterElements {
  display: var(--display--flex);
  font-size: var(--font-size);
  cursor: pointer;
}

/* -----------------------ShopByCategoryContainer-------------------------- */

#ShopByCategoryContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

#ShopByCategoryContainer>div {
  display: flex;
  width: 100%;
  font-size: 1.5rem;
  justify-content: center;
  margin-bottom: 20px;
}

#ShopByCategoryContainer>div div {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#ShopByCategoryContainer .category-container {
  display: grid;
  width: 90%;
  max-width: 1000px;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.category-item {
  display: flex;
  border: 3px solid #ddd;
  border-radius: 15px;
  padding: 20px 0px;
}

.category-item>img {
  object-fit: cover;
  transform: scale(1);
}

/* ----------------------NEW-PRODUCTS--------------------------- */

#NewProductsContainer {
  margin-top: 50px;
  height: auto;
  width: 100%;
}

#NewProductsContainer>div {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 20px;
}

#NewProductsContainer>div+div {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px 0px;
}

#NewProductsContainer>div img {
  width: 300px;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

#NewProductsContainer>div h3 {
  color: #1ba7a2;
  line-height: 22px;
}

#NewProductsContainer>div+div+div {
  font-size: 1.5rem;
  text-decoration: underline;
}

/* ----------------------PROFILEPAGE--------------------------- */

.profileContainer {
  height: var(--height);
  display: var(--display--flex);
  align-items: var(--align-items);
  justify-content: var(--justify-content-flex-start);
  flex-direction: var(--flex-direction);
}

.profileTabs {
  display: var(--display--flex);
  justify-content: space-evenly;
  align-items: var(--align-items);
  border-bottom: 1px solid var(--ccc--grey);
  width: var(--width);
  margin-top: 60px;
}

.tab {
  padding: var(--padding--10px) 20px;
  border: var(--border--none);
  background: none;
  cursor: var(--cursor-pointer);
  font-size: var(--font-size);
}

.tab:hover {
  border-bottom: 1px solid var(--color-dark);
}

.profileDetails {
  height: var(--height);
  display: var(--display--flex);
  align-items: var(--align-items);
  justify-content: var(--justify-content);
  flex-direction: var(--flex-direction);
}

#signout {
  text-decoration: var(--text--decoration--none);
  cursor: var(--cursor-pointer);
}

/* --------------------------ERRORPAGE----------------------------- */

#NotFoundContainer {
  display: var(--display--flex);
  align-items: var(--align-items);
  justify-content: var(--justify-content);
  flex-direction: var(--flex-direction);
  height: 93vh;
  width: var(--width);
  gap: 20px;
  font-size: var(--font-size);
}

#NotFoundContainer a {
  font-size: 1.5rem;
  text-decoration: underline;
}

.ResponseMessage {
  text-align: center;
}

#ErrorMessageBackend {
  color: red;
}

#SuccessMessageBackend {
  color: green;
}

/* --------------------DEFAULT BUTTON------------------------------- */

.DefaultContainerBtn {
  width: var(--width);
  display: var(--display--flex);
  align-items: var(--align-items);
  justify-content: var(--justify-content);
}

.button--default {
  display: var(--display--flex);
  justify-content: var(--justify-content);
  align-items: var(--align-items);
  width: var(--width);
  font-size: var(--font-size);
  padding: 12px;
  border: var(--border--none);
  border-radius: var(--border--radius-4px);
  background-color: var(---Light---Turquoise);
  color: var(--color--white);
  cursor: var(--cursor-pointer);
  transition: background-color 0.3s ease;
}

.button--default:hover {
  background-color: #1ba7a2;
}

/* --------------------DEFAULT h Tags------------------------------- */

h1,
h2,
h3 h4 h5 h6 {
  color: var(--color-dark);
}

/* --------------------DEFAULT p Tag------------------------------- */

p {
  color: var(--color-dark);
}

/* --------------------DEFAULT a Tag------------------------------- */
a {
  text-decoration: none;
}