:root {
  --height: 100%;
  --height-fit-content: fit-content;
  --margin-right: 2vmax;
  --width: 100%;
  --margin: 0;
  --padding: 0;
  --cursor-pointer: pointer;
  --display--flex: flex;
  --color: #fff;
  --color-dark: #fff;
  --align-items: center;
  --justify-content: center;
  --flex-direction: column;
  --font-size: 1rem;
}

html,
body {
  scrollbar-width: auto;
  scrollbar-color: rgb(72, 230, 235) black;
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #fff;
  --color-dark: #000;
  width: 100%;
  height: auto;
}

#MainContainerRegistry {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 870px;
}

#RegistryContainer {
  padding: 2rem;
  box-shadow: 0px 0px 10px 5px rgb(209, 209, 209);
  max-width: 300px;
  min-width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.InputRegistry {
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 93%;
}

#SubmitBtn {
  padding: 10px;
  background-color: #007bff;
  color: var(--color);
  font-size: var(--font-size);
  border: none;
  border-radius: 4px;
  cursor: var(--cursor-pointer);
  transition: background-color 0.3s ease;
  width: var(--width);
}

#Submit_Btn:hover {
  background-color: #0056b3;
}

#errorMessage {
  color: red;
}

/* --------------------- */

/* Navbar*/
#navbarDIV {
  position: fixed;
  top: 0;
  left: 0;
  height: 53px;
  background-color: #007bff;
  width: 100%;
}

#navbar {
  display: var(--display--flex);
  align-items: center;
  height: 100%;
  fill: rgba(255, 255, 255, 0.9);
}

.NavbarElements {
  cursor: var(--cursor-pointer);
  display: var(--display--flex);
  margin: var(--margin);
  padding: var(--padding);
  margin-right: var(--margin-right);
  width: 25px;
}

#UserIcon {
  width: 19px;
}

#WishList {
  width: 30px;
}

/* -------------------------- */

#Main_Container_Login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 820px;
}

#Login_Container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  box-shadow: 0px 0px 10px 5px rgb(209, 209, 209);
  width: 300px;
  margin-top: 120px;
  border-radius: 10px;
}

#Login_Form {
  flex-direction: column;
  display: var(--display--flex);
  justify-content: center;
  align-items: var(--align-items);
  gap: 30px;
  height: 300px;
  width: 100%;
}

#User_Login,
#Password_Login {
  width: var(--width);
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#LoginBtn {
  width: 100%;
  font-size: var(--font-size);
  padding: 12px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: var(--cursor-pointer);
  transition: background-color 0.3s ease;
}

#LoginBtn:hover {
  background-color: #0056b3;
}


#BreakPoint {
  color: black;
  background-color: black;
  height: 1px;
  width: 95%;
  margin-top: 40px;
}

#RegisterLink {
  margin-top: 30px;
  padding: 10px 50px;
  border-radius: 50px;
  box-shadow: 0px 0px 20px 0px grey;
}

/* -------------------------- */
#MessageBackend {
  color: red;
}

/* -------------------------- */
#Footer {
  display: flex;
  background-color: #007bff;
  height: 53px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;

}

.Footer_Elements {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  cursor: var(--cursor-pointer);
  color: #fff;
}

/* -------------------------------------- */

#burgermenuDIV {
  width: 100%;
}

#burgermenu {
  width: 25px;
  cursor: var(--cursor-pointer);
  margin-left: 10px;
}

/* ---------------------------------- */

.menu_Container {
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  min-width: var(--width);
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0%;
  transition: min-width 1s linear;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-name: ClosingMenuContainer;
  overflow-y: auto;
}

@keyframes ClosingMenuContainer {
  0% {
    min-width: 0%;
  }

  100% {
    min-width: var(--width);
  }
}

@keyframes ClosingMenuContainerReverse {
  0% {
    min-width: var(--width);
  }

  100% {
    min-width: 0%;
  }
}

#menu_Closing {
  color: white;
  width: fit-content;
}

#menu_content {
  width: fit-content;
  font-size: 1.5rem;
  margin-top: 1px;
  margin-left: 10px;
  cursor: var(--cursor-pointer);
  transform: rotate(90deg);
}

#menu_Links {
  display: var(--display--flex);
  justify-content: var(--justify-content);
  align-items: var(--align-items);
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.8rem;
}

#animated-I {
  color: color-mix(in srgb, rgb(0, 251, 255) 50%, rgb(64, 255, 0) 10%);
  position: relative;
  left: 0%;
  top: 0;
  pointer-events: none;
}

.Menu_Links_For_Navigation:hover span {
  animation-name: slideForward;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes slideForward {
  0% {
    left: 0%;
  }

  50% {
    left: 105%;
  }

  0% {
    left: 0%;
  }
}

/* ------------------------------ */

.profile-container {
  max-width: 100%;
  width: 100%;
  min-width: 100%;
  margin: 50px auto;
  text-align: center;
}

/* Tabs-Styling */
.profile-tabs {
  display: var(--display--flex);
  justify-content: space-around;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

.tab {
  padding: 10px 20px;
  border: none;
  background: none;
  font-size: 1rem;
  cursor: var(--cursor-pointer);
}

.tab:hover {
  border-bottom: 2px solid black;
}

.tab.active {
  border-bottom: 2px solid black;
}

/* Profil-Styling */
.profile-details {
  height: 650px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.profile-image {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.username {
  color: gray;
}

.profile-text {
  margin: 10px 0;
}

#signout {
  color: #007bff;
  text-decoration: none;
  cursor: var(--cursor-pointer);
  margin: 0;
  padding: 0;
}